In [1]:
import pandas as pd

In [57]:
#data1 = pd.read_csv(raw_data1, usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])
#data2 = pd.read_csv(raw_data2, usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])

data1 = pd.read_csv('../data/fsa_2007-2016.csv', usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])
data2 = pd.read_csv('../data/fsa_2017-2018.csv', usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])

  # Specifies the order the columns should appear in
column_order = ['SCHOOL_YEAR',
                 'DATA_LEVEL',
                 'PUBLIC_OR_INDEPENDENT',
                 'DISTRICT_NUMBER',
                 'DISTRICT_NAME',
                 'SCHOOL_NUMBER',
                 'SCHOOL_NAME',
                 'SUB_POPULATION',
                 'FSA_SKILL_CODE',
                 'GRADE',
                 'NUMBER_EXPECTED_WRITERS',
                 'NUMBER_WRITERS',
                 'SCORE']
  
  # Reorders the columns in the dataframes so that they're in the same order
data1 = data1.reindex(columns = column_order)
data2 = data2.reindex(columns = column_order)
  
  # Stack the dataframes to make one master data file
raw_data = pd.concat([data1, data2])
  
  # Tidies the column names so that they're all lowercase
raw_data.columns = map(str.lower, raw_data.columns)

  
  # Splits the school_year into year_start and year_end
years = raw_data['school_year'].str.split("/", n = 1, expand = True)
raw_data['year_start'] = years[0]
raw_data['year_end'] = years[1]
raw_data.drop(columns = ['school_year'], inplace = True)

  # Reformats the columns to the right datatypes
clean_data.score = pd.to_numeric(clean_data.score)
clean_data.year_start = pd.to_numeric(clean_data.year_start)
clean_data.year_end = pd.to_numeric(clean_data.year_end)
clean_data.number_expected_writers = pd.to_numeric(clean_data.number_expected_writers)
clean_data.number_writers = pd.to_numeric(clean_data.number_writers)


  # Removes all rows without FSA score data
clean_data = raw_data[raw_data.score != 'Msk']
clean_data = clean_data.dropna(subset=['score'])
clean_data = clean_data[clean_data.number_writers != 0]

# Keep only the school-level data (remove Provincial and District summary rows)
clean_data = clean_data[clean_data.data_level == 'SCHOOL LEVEL']


  
clean_data.head()

,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
4971,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,464.27778,2007,2008
4975,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,16,16,468.875,2007,2008
4976,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ENGLISH LANGUAGE LEARNER,Numeracy,4,18,18,464.27778,2007,2008
4978,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,531.55556,2008,2009
4981,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,18,18,531.55556,2008,2009

In [62]:
clean_data.reset_index()

,index,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
0,4971,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,464.27778,2007,2008
1,4975,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,16,16,468.875,2007,2008
2,4976,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ENGLISH LANGUAGE LEARNER,Numeracy,4,18,18,464.27778,2007,2008
3,4978,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,531.55556,2008,2009
4,4981,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,18,18,531.55556,2008,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329937,107963,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Chief & Council of Gwa'sala-'Nakwaxda'xw (IATH...,8597142.0,Gwa'sala-'Nakwaxda'xw School,ABORIGINAL,Writing,7,13,10,2.1,2018,2019
329938,107964,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Chief & Council of Gwa'sala-'Nakwaxda'xw (IATH...,8597142.0,Gwa'sala-'Nakwaxda'xw School,NON ENGLISH LANGUAGE LEARNER,Writing,7,13,10,2.1,2018,2019
329939,107986,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,ALL STUDENTS,Writing,7,15,14,2,2018,2019
329940,107989,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,ABORIGINAL,Writing,7,13,12,2,2018,2019
329941,107991,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,NON ENGLISH LANGUAGE LEARNER,Writing,7,15,14,2,2018,2019

In [2]:
# Load data (assumes that the script for reading and writing the data from the web has been run)
raw_data_2007_2016 = pd.read_csv('../data/fsa_2007-2016.csv', usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])
raw_data_2017_2018 = pd.read_csv('../data/fsa_2017-2018.csv', usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16])


# Specifies the order the columns should appear in
column_order = ['SCHOOL_YEAR',
               'DATA_LEVEL',
               'PUBLIC_OR_INDEPENDENT',
               'DISTRICT_NUMBER',
               'DISTRICT_NAME',
               'SCHOOL_NUMBER',
               'SCHOOL_NAME',
               'SUB_POPULATION',
               'FSA_SKILL_CODE',
               'GRADE',
               'NUMBER_EXPECTED_WRITERS',
               'NUMBER_WRITERS',
               'SCORE']

# Reorders the columns in the dataframes so that they're in the same order
raw_data_2007_2016 = raw_data_2007_2016.reindex(columns = column_order)
raw_data_2017_2018 = raw_data_2017_2018.reindex(columns = column_order)

# Stack the dataframes to make one master data file
raw_data = pd.concat([raw_data_2007_2016, raw_data_2017_2018])

# Tidies the column names so that they're all lowercase
raw_data.columns = map(str.lower, raw_data.columns)

# Splits the school_year into year_start and year_end
years = raw_data['school_year'].str.split("/", n = 1, expand = True)
raw_data['year_start'] = years[0]
raw_data['year_end'] = years[1]
raw_data.drop(columns = ['school_year'], inplace = True)

raw_data.head()

,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
0,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,ALL STUDENTS,Numeracy,4,44500,40336,486.87686,2007,2008
1,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,FEMALE,Numeracy,4,21884,20108,483.06843,2007,2008
2,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,MALE,Numeracy,4,22616,20228,490.6627,2007,2008
3,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,ABORIGINAL,Numeracy,4,5549,4819,439.81179,2007,2008
4,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,NON ABORIGINAL,Numeracy,4,38951,35517,493.26272,2007,2008

In [3]:
# Removes all rows without FSA scores
clean_data = raw_data[raw_data.score != 'Msk']

In [40]:
clean_data = clean_data[clean_data.number_writers != 0]

In [5]:
clean_data.head()

,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
0,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,ALL STUDENTS,Numeracy,4,44500,40336,486.87686,2007,2008
1,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,FEMALE,Numeracy,4,21884,20108,483.06843,2007,2008
2,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,MALE,Numeracy,4,22616,20228,490.6627,2007,2008
3,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,ABORIGINAL,Numeracy,4,5549,4819,439.81179,2007,2008
4,PROVINCE LEVEL,PROVINCE - TOTAL,NaN,NaN,NaN,NaN,NON ABORIGINAL,Numeracy,4,38951,35517,493.26272,2007,2008

In [41]:
clean_data[clean_data.number_writers == 0]

Empty DataFrame
Columns: [data_level, public_or_independent, district_number, district_name, school_number, school_name, sub_population, fsa_skill_code, grade, number_expected_writers, number_writers, score, year_start, year_end]
Index: []

In [30]:
clean_data = clean_data.dropna(subset=['score'])

In [13]:
clean_data.score = pd.to_numeric(clean_data.score)

In [20]:
clean_data.year_start = pd.to_numeric(clean_data.year_start)

In [21]:
clean_data.year_end = pd.to_numeric(clean_data.year_end)

In [32]:
clean_data.number_expected_writers = pd.to_numeric(clean_data.number_expected_writers)

/opt/miniconda3/envs/mds/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [33]:
clean_data.number_writers = pd.to_numeric(clean_data.number_writers)

In [34]:
clean_data.dtypes

data_level                  object
public_or_independent       object
district_number            float64
district_name               object
school_number              float64
school_name                 object
sub_population              object
fsa_skill_code              object
grade                        int64
number_expected_writers      int64
number_writers               int64
score                      float64
year_start                   int64
year_end                     int64
dtype: object

In [35]:
clean_data = clean_data[clean_data.data_level == 'SCHOOL LEVEL']

In [36]:
clean_data

,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
4971,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,464.27778,2007,2008
4975,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,16,16,468.87500,2007,2008
4976,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ENGLISH LANGUAGE LEARNER,Numeracy,4,18,18,464.27778,2007,2008
4978,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,531.55556,2008,2009
4981,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,18,18,531.55556,2008,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107963,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Chief & Council of Gwa'sala-'Nakwaxda'xw (IATH...,8597142.0,Gwa'sala-'Nakwaxda'xw School,ABORIGINAL,Writing,7,13,10,2.10000,2018,2019
107964,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Chief & Council of Gwa'sala-'Nakwaxda'xw (IATH...,8597142.0,Gwa'sala-'Nakwaxda'xw School,NON ENGLISH LANGUAGE LEARNER,Writing,7,13,10,2.10000,2018,2019
107986,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,ALL STUDENTS,Writing,7,15,14,2.00000,2018,2019
107989,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,ABORIGINAL,Writing,7,13,12,2.00000,2018,2019
107991,SCHOOL LEVEL,BC INDEPENDENT SCHOOL,NaN,Nak'al Bun Education Society (IATHNBR:411),9197495.0,Nak'albun Elementary School,NON ENGLISH LANGUAGE LEARNER,Writing,7,15,14,2.00000,2018,2019